<h1>Flight Details:</h1>
<div class="card">
  <div class="card-body">

    <h3 class="card-title">Odin Airlines Flight <%= @booking.flight.flight_num %></h3>
    <p class="card-text">Departing: <strong><%= @booking.flight.origin.name %> (<%= @booking.flight.origin.code %>)</strong>, <%= @booking.flight.origin.city %>, <%= @booking.flight.origin.country %></p>
    <p class="card-text">Depature Time<sup><small>1</small></sup>: <strong><%= @booking.flight.departure_time %> <%= @booking.flight.departure_date.strftime("%d %b %Y") %></strong></p>
    <p class="card-text">Destination: <strong><%= @booking.flight.destination.name %> (<%= @booking.flight.destination.code %>)</strong>, <%= @booking.flight.destination.city %>, <%= @booking.flight.destination.country %></p>
    <p class="card-text">Arrival Time<sup><small>1</small></sup>: <strong><%= @booking.flight.arrival_time %> <%= @booking.flight.arrival_date.strftime("%d %b %Y") %></strong></p>
    <p class="card-text">Flight Time: <strong><%= @booking.flight.flight_time %></strong></p>
  </div>
</div>
<small class="d-block text-muted">1. All times local to their respective airports</small>