<%= render partial: 'flight_details' %>
<hr>
<%= form_with model: @booking, url: bookings_path, method: :post, local: true do |f| %>
  <%= f.hidden_field(:flight_id, value: @flight.id) %>
    <h2>Enter Passenger Details</h2>
    <%= f.fields_for :passengers do |p| %>
      <h3>Passenger <%= p.options[:child_index] + 1 %></h3>
      <%= p.text_field :first_name, placeholder: "First Name" %><br/>
      <%= p.text_field :last_name, placeholder: "Last Name" %><br/>
      <%= p.text_field :email, placeholder: "Email" %><br/>
    <% end %>
  <%= f.submit "Confirm Booking" %>
<% end %>