<%# TODO Add print @media type for ticket %>
<div class="card">
  <div class="card-body">

    <%= render partial: 'bookings/flight_details' %>

  </div>
</div>

<div class="card mt-3">
  <div class="card-body col-10">

    <h3 class="card-title">Boarding Pass For: <span class="text-uppercase"><%= @passenger.last_name %>, <%= @passenger.first_name %></span></h3>

    <%= render partial: 'ticket' %>

    <%= link_to "&laquo; Back".html_safe, @booking, class: "btn btn-primary" %>
    <%= link_to 'Print Ticket', '#', :onclick => 'window.print();return false;', class: "btn btn-success" %>
    
  </div>
</div>