<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlightBooker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= link_to "<< Home", root_path %><br/>
    <small>1. All times times local to their respective airports</small><br/>
    <small>Airport data provided by <a href="https://openflights.org/">OpenFlights.org</a></small>
  </body>
</html>
